.tuning-note-form {
  max-width: 8em;
  /* border: 2px solid rgb(84, 71, 43); */
  /* background: rgb(123, 110, 81); */
  margin: 0;
  padding: 0;
  min-width: 3em;
  margin-top: 1em;
  padding: 1em;
}

.tuning-note-select {
  /* -webkit-appearance: none; */
  border: 0;
  font-family: monospace;
  font-size: 24px;
  padding: 4px;
  margin: 0;
  border-radius: 0;
  background: rgb(154, 127, 70);
  color: rgb(249, 221, 156);
  text-shadow: -1px -1px 0px rgb(213, 192, 142);
  text-align: center;
}

.tuning-note-select[name="note"] {
  border-bottom-left-radius: .5em;
  border-top-left-radius: .5em;
}

.tuning-note-select[name="octave"] {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}
